body,
#search-by-word-container {
  background-color: #3a3a3a;
  color: #eaeaea !important;
}

span.sc-gxMtzJ.GukDc {
  color: #a9a9a9;
}

div.sc-hmzhuo.fpFNoN.sc-jTzLTM.iwtnNi a,
span.sc-1du6d72-2.fjZONX.sc-ifAKCX.bBbnjQ,
span.sc-1bofr6e-1.iUNkan.sc-ifAKCX.bBbnjQ,
span.sc-1koxwg0-2.eLGHiC.sc-ifAKCX.ffZbMM {
  color: #3ca5e6 !important;
}

a.sc-htpNat.gBpIXz {
  color: #6e0ad6 !important;
}

.cGChIZ,
.eZJrBt {
    background-color: #717171 !important;
}

html,
header,
.sticky-inner-wrapper,
.bigger-grid-style,
div.bg-white.pb-section,
div.sc-hmzhuo.fFyjgz.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.inUUEM.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.hMZElg.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.dzavJy.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.dzavJy.sc-jTzLTM.iwtnNi div,
li.ja3zle-9.dsgOFF,
div.fnmrjs-1.gIEtsI,
div.sc-eilVRo.hdYpdZ,
div.hb5mou-0.iauKXP,
div.sc-sPYgB.jWoujT,
div.sc-jDwBTQ.ggFbJG,
div.sc-hmzhuo.esPmQG.sc-jTzLTM.iwtnNi,
nav.sc-cbkKFq.PBVqk.sc-GMQeP.xyBBz,
nav.sc-kAzzGY.eZZlZs.sc-eNQAEJ.jOSdlL,
ul.ja3zle-8.jkUIbu,
div.sc-hmzhuo.gqoVfS.sc-jTzLTM.iwtnNi,
div.sc-hEsumM.sc-VJcYb.eFAysm,
footer.sc-esjQYD.jqbXNu,
div.pb-section,
div.d-none.d-lg-block.bg-white.pt-5.pb-5,
div.box-ad.box-ad-bottom,
div.sc-hEsumM.drrtP.sc-bwCtUz.bLtgBa,
div.container.pt-5.pb-5,
span.sc-tilXH.SIBga.sc-TFwJa.cNGxwe,
div.iza-bottom div.iza-container.container,
nav.sc-exAgwC.dwIaQo.sc-krvtoX.glPakV,
div.sc-hEsumM.sc-krDsej.euhxsi,
.igTHNl,
.bQbWAr,
.jhVsdW,
.jffZoo,
.dAjHrT,
.iaXUER,
.ijUfAN,
.ONRJp,
div.sc-hmzhuo.sc-1wimjbb-3.iRJlAb.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.sc-28oze1-0.giggBX.sc-jTzLTM.iwtnNi,
div.en9h1n-0.kKbJNQ,
span.sc-1bofr6e-1.iUNkan.sc-ifAKCX.bBbnjQ {
  background-color: #3a3a3a !important;
}

form label,
header a,
address,
nav.sc-uJMKN.jzNGXb a,
div.sc-kgAjT.gjTKow a,
h1.sc-1mi5vq6-2.bpRZWP.sc-ifAKCX.fEZOec,
h2.sc-1mbetcw-0.eJfLou.sc-ifAKCX.jyXVpA,
h2.sc-1mbetcw-0.eJfLou.sc-ifAKCX.eoKYee,
div.sc-kAzzGY.eEysYn,
div.sc-gwVKww.goRxNJ,
div.sc-gwVKww.goRxNJ nav a,
div.sc-eXEjpC.cJtYQq a,
div.sc-hEsumM.sc-itybZL.dtJJOh div span,
label.ja3zle-3.bVvfDy,
span.sc-ifAKCX.eoKYee,
span.sc-iuJeZd.iSKjrl,
span.fnmrjs-15.gKJdMh.sc-ifAKCX.eLPYJb,
span.wlwg1t-1.fsgKJO.sc-ifAKCX.eLPYJb,
span.sc-1a202fr-3.kHMGtn.sc-ifAKCX.fWUyFm,
span.wodqy3-2.eANJSQ.sc-ifAKCX.yXlon,
span.sc-7l84qu-1.ciykCV.sc-ifAKCX.dpURtf,
span.sc-ifAKCX.ksJebM,
li.enabled.ja3zle-9.dwqnve,
li.ja3zle-9.dsgOFF,
li.ja3zle-9.dwqnve,
span.sc-1j5op1p-0.lnqdIU.sc-ifAKCX.eLPYJb,
span.jx24x3-0.kLpCId.sc-ifAKCX.gUHMeZ,
span.sc-tilXH.eMOoQE.sc-iyvyFf.QvMUc,
span.sc-tilXH.eMOoQE.sc-dqBHgY.gJLTrU,
span.sc-tilXH.SIBga.sc-hzNEM.dJmGYQ,
span.sc-tilXH.SIBga.sc-TFwJa.cNGxwe,
span.sc-ifAKCX.eNggKY,
span.sc-htoDjs.cUEgYn,
nav.sc-bsbRJL.fExwfz a,
div.sc-ibxdXY.jGfqyb a,
div.popular-container a,
.hdJcFQ,
.cULaGM,
.rNPgT,
.grqrOI,
.gNWPkq,
.cmFKIN,
.fEZOec,
.kaNiaQ,
.iLDZRu,
.eKQLlb,
div.sc-hmzhuo.sc-1aze3je-0.igTHNl.sc-jTzLTM.iwtnNi a,
span.sc-htoDjs.cHPCiU {
  color: #eaeaea !important;
}

li.wodqy3-0.ezfpNd,
span.wodqy3-2.eANJSQ.sc-ifAKCX.yXlon,
span.jx24x3-0.kLpCId.sc-ifAKCX.gUHMeZ,
div.fnmrjs-1.iUGceG,
div.sc-hmzhuo.sc-1koxwg0-0.eXuJJj.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.sc-1ncgzjx-0.bGtMjx.sc-jTzLTM.iwtnNi,
div.sc-hEsumM.sc-hCaUpS.bjGUzP,
div.sc-hEsumM.drrtP.sc-feJyhm.gyLVrO,
div.sc-hEsumM.drrtP.sc-feJyhm.mQBar,
div.sc-hEsumM.sc-kafWEX.dSpQVL {
  background-color: #242424 !important;
}

/* ------------============ Images, chat, Some buttons and Hover ============------------ */
div.sc-101cdir-2.kBCTPf,
div.Arrow__ArrowWrapper-sc-1vrlqlo-0.jYWcKX,
div.Item__ImageContainer-sc-158lq6k-1.gDskSC,
div.sc-hmzhuo.sc-1koxwg0-0.eJGOcN.sc-jTzLTM.iwtnNi,
div.sc-hEsumM.drrtP.sc-bwCtUz.ceBUIZ,
div.sc-hEsumM.drrtP.sc-feJyhm.gllhqL,
div.sc-hEsumM.sc-jKVCRD.jUFpPL,
.endvnA:hover,
.bRMEuy:hover,
.dOCFEw:hover,
.dMMbVM:hover,
.cNGxwe:hover,
.dwqnve:hover {
  background-color: #565656 !important;
}

button.rd4d6d-2.bFOeuH,
div.sc-hEsumM.drrtP.sc-bmyXtO.cvcHsQ,
div.sc-hEsumM.drrtP.sc-bmyXtO.TXqyt,
div.sc-hEsumM.drrtP.sc-bmyXtO.jckeSd {
  background: #9dab0e !important;
}

a.sc-jDwBTQ.fiHbAO,
a.sc-cMljjf.eoaXPh,
a.sc-gPEVay.irtqwE,
.etfqfq,
.bAzWqw,
button.sc-gPzReC.gGRQfO {
  background: #c2661a !important;
}

.kpTHkt,
.fDSicE,
span.sc-tilXH.SIBga.sc-LKuAh.gYCLVl {
  color: #a964f1 !important;
}

.fchWnw {
    color: #4e207e !important;
}

.cNGxwe:hover {
    color: #eaeaea !important;
}

div.sc-hEsumM.drrtP.sc-bmyXtO.geBOgR,
div.sc-hEsumM.drrtP.sc-bmyXtO.gKXYzj,
.iza-top,
div.sc-hEsumM.drrtP.sc-bmyXtO.fbQSPJ {
  background: #4e207e !important;
}

/* ------------============ Input ============------------ */
input,
li.enabled.ja3zle-9.dsgOFF,
div.enabled.ja3zle-4.joaQam,
div.sc-hmzhuo.rd4d6d-0.RyLDW.sc-jTzLTM.iwtnNi,
div.sc-hEsumM.sc-dBaXSw.QENSx,
div.searchSuggestBox,
textarea.sc-cmIlrE.bBhAMs.sc-gleUXh.hYaRub,
textarea.sc-cmIlrE.eTWzCL.sc-gleUXh.hYaRub {
  background-color: #5a5a5a !important;
  color: #eaeaea !important;
}

/* ------------============ Borders ============------------ */
.EJZRX,
div.sc-eerKOB.juBRqq,
div.sc-eilVRo.hdYpdZ,
div.sc-jDwBTQ.ggFbJG,
div.sc-gzOgki.kxDlpg.sc-jTzLTM.iwtnNi,
div.sc-ifAKCX.jYddxX.sc-eqIVtm.cYMCtj,
div.sc-hEsumM.sc-VJcYb.eFAysm,
div.sc-hEsumM.sc-dBaXSw.QENSx,
div.sc-fjdhpX.fUKTLX.sc-iyvyFf.cICwqP,
div.sc-hEsumM.sc-bYSBpT.gcKzYt {
  border-color: #717171 !important;
}

.searchSubmitBtn {
    border-left-color: #717171 !important;
}

div.sc-hmzhuo.sc-1koxwg0-0.eJGOcN.sc-jTzLTM.iwtnNi,
div.sc-hmzhuo.sc-1ncgzjx-0.bGtMjx.sc-jTzLTM.iwtnNi,
div.jx24x3-1.eNhFxH.false.sc-11ykbmp-0.ioAVKB,
div.sc-hEsumM.sc-hCaUpS.bjGUzP,
div.sc-hEsumM.sc-jKVCRD.jUFpPL,
div.enabled.ja3zle-4.joaQam,
.dAjHrT,
.eZJrBt,
.searchWrapBox {
  border: 1px solid #717171 !important;
}

div.searchBox {
  border: 1px solid #9dab0e;
}

.fPBoro,
.exlmO,
li.wodqy3-0.ezfpNd,
li.sc-1fcmfeb-2.cfLiFC,
li.sc-1fcmfeb-2.juiJqh,
li.sc-1fcmfeb-2.OgCqv,
footer.sc-kfGgVZ.dFBBuR,
div.sc-jzJRlG.ejaRks,
div.sc-kpOJdX.ljQBan,
div.sc-hEsumM.sc-kafWEX.dSpQVL,
footer.sc-esjQYD.jqbXNu,
footer.sc-kjoXOD.igOFrg {
  border-top: 1px solid #717171 !important;
}

li.sc-1fcmfeb-2.cfLiFC,
li.wodqy3-0.ezfpNd,
li.enabled.ja3zle-9,
li.ja3zle-9.dwqnve,
li.ja3zle-9.dsgOFF,
div.sc-1wapjpr-1.iIgLdt,
div.sc-hEsumM.sc-kafWEX.dSpQVL,
div.sc-jzJRlG.ejaRks {
  border-bottom: 1px solid #717171 !important;
}

li.wodqy3-0.ezfpNd {
  border-right: 1px solid #717171 !important;
}

li.wodqy3-0.ezfpNd,
div.sc-hEsumM.sc-kafWEX.dSpQVL {
  border-left: 1px solid #717171 !important;
}
div.discovery-gallery a {
    border-color: #3a3a3a !important;
}

/* ------------============ SVG Path ============------------ */
div.sc-kpOJdX.byzSES.sc-jTzLTM.iwtnNi svg path,
div.sc-fjdhpX.fUKTLX.sc-dxgOiQ.hjiBrP svg path,
div.sc-ifAKCX.jYddxX.sc-kkGfuU.idUuxE svg path,
svg.sc-1aze3je-2.gQqMLR path,
.searchSubmitBtn svg path {
  fill: #eaeaea;
}

div.sc-1du6d72-1.endvnA svg path {
  fill: #3ca5e6;
}

div.enabled.ja3zle-4.joaQam svg path,
div.ja3zle-11.gNMdyF svg path {
  fill: #a9a9a9;
}

div.fnmrjs-13.eojswK > svg:not([class]) path,
div.Arrow__ArrowWrapper-sc-1vrlqlo-0.jYWcKX svg path {
  fill: #eaeaea !important;
}

div.sc-hEsumM.sc-doWzTn.eqQebX svg.sc-esjQYD.kXQCMC path {
  fill: #c2661a;
}

/* ------------============ Shadow ============------------  */
div.fixedBox.sc-1ut0abb-1.fTvCni,
div.fixedBox.sc-1ut0abb-1.nfoiK {
    box-shadow: #565656 8px 0px 6px 12px;
}


/* ------------============ Layout ajustments ============------------  */
button.rd4d6d-2.bFOeuH {
  margin: -1px;
  border-radius: 0px 6px 6px 0px;
}

div.searchSuggestBox {
    border-radius: 4px;
}